@model QuanLyTS.Models.tblQuaTrinhDiChuyen

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Chi tiết phiếu điều chuyển tài sản</h2>

<div>    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Ngày chuyển
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayChuyen)
        </dd>

        <dt>
            Ghi chú
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GhiChu)
        </dd>

        <dt>
            Tên lần chuyển
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenLanChuyen)
        </dd>

        <dt>
            Họ tên giáo viên
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tblCanBoGiaoVien.HoTen)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Sửa", "Edit", new { id = Model.MaLanChuyen }) |
    @Html.ActionLink("Quay về danh sách", "Index")
</p>
