@model QuanLyTS.Models.tblChiTietChuyen

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>tblChiTietChuyen</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SoLuong)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoLuong)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tblKhoLuuTru.TenKho)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tblKhoLuuTru.TenKho)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tblNoiSuDung.TenNoiSD)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tblNoiSuDung.TenNoiSD)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tblQuaTrinhDiChuyen.MaNguoiDieuChuyen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tblQuaTrinhDiChuyen.MaNguoiDieuChuyen)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tblTaiSan.MaLoai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tblTaiSan.MaLoai)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tblTinhTrang.MoTa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tblTinhTrang.MoTa)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
